*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body
{
  background: rgb(42, 42, 41);
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
}

.main
{
position: relative;
width: 100%;
max-width: 900px;
min-height: 1300px; 
background: #fff;
display: grid;
grid-template-columns: 1fr 4fr;
box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.main .left_Side{
position: relative;
background: #242329; 
padding: 40px;
}

.imgBx
{
  position: relative;
  margin: -40px -40px 0 -40px;
  overflow: hidden;
}
.imgBx img
{
  object-fit: cover;
}


.contactInfo
{
  padding-top: 20px;
}

.title
{
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 100;
  Letter-spacing: 1px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(242, 211, 11);
}

.contactInfo ul
{
  position: relative;
}

.contactInfo ul li
{
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.contactInfo ul li .icon
{
  display: inline-block;
  width: 30px; 
  font-size: 18px; 
  color: rgb(242, 211, 11);
}

.contactInfo ul li span
{
  color: #fff;
  font-weight: 300px;
}

.contactInfo.education .text
{
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 15px;
}

.contactInfo.softSkills .text
{
  color: #fff;
  font-size: 1em;
  font-weight: 100;
  margin-bottom: 15px;
}








.main .right_Side
{
  position: relative; 
  background: #fff; 
  padding: 40px;
}

.main .right_Side .name
{
  position: relative;
  background-color: rgb(242, 211, 11);
  margin: 40px -40px 50px -40px;
  padding: 50px;
}

.main .right_Side .name h2
{
  color: #000000;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 100;
  Letter-spacing: 1px;
  margin-bottom: 20px;
}

.main .right_Side .name h3
{
  color: #000000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 100;
}

.about
{
  position: relative;
  margin-bottom: 40px;
  font-size: 1.4em;
}

.about h3
{
  margin-bottom: 10px;
  font-size: 1.4em;
}

.about .box
{
  display: flex; 
  flex-direction: row; 
  margin: 20px 0;
}

.about .box .project
{
  min-width: 150px;
}

.about .box .project h4
{
  text-transform: uppercase;
  color: rgb(242, 211, 11);
  font-weight: 600;
}

.skills .box
{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}

.skills .box h4
{
  text-transform: uppercase; 
  color: #848c99;
  font-weight: 500;
}

.skills .box .percent
{
  position: relative;
  width: 100%;
  height: 10px;
  background: #c2cad8;
}

.skills .box .percent div
{
  position: absolute;
  top: 0;
  Left: 0;
  height: 100%;
  background:
  rgb(242, 211, 11);
}

.footer { 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	background-color: rgb(242, 211, 11);
}

a:hover 
{
   color: rgb(131, 131, 131);
}